body {
    font-family: Arial;
    margin: 0;
    background: #f5f5f5;
}

/* HEADER */
header {
    background: #7c3aed;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 50px;
}

.login-button {
    color: white;
    text-decoration: none;
}

/* MAIN */
main {
    padding: 20px;
}

.place-card,
.review-card {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background: white;
}

/* DETAILS */
.place-details {
    margin: 20px;
}

.place-info {
    padding: 10px;
}

/* BUTTON */
button,
.details-button {
    background: #7c3aed;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
}
